main.main-cases {
	margin: 10em 0 0 0;
	.main-item {
		@include k-border-radius(12px);
		min-height: 240px;
		margin: 0 0 75px 0;
		padding: 30px 0 0 0;
		background-color: $color-white;
		position: relative;
		cursor: pointer;
		border-bottom: 5px solid $color-dark-white;
		&:hover {
			img { @include k-transform(scale(1.1) rotate(3deg)); }
			.main-item-price { 
				@include k-transform(scale(1.25) rotate(10deg));
				animation: none;
			}
		}
		.main-item-title {
		    max-width: 310px;
		    padding: 7px 20px 7px 20px;
		    background-color: lighten($color-purple, 8%);
		    left: -5px;
		    position: absolute;
		    top: -25px;
		    z-index: 1;
		    color: $color-white;
		    font: {
		    	family: "Chewy", cursive;
		    	size: 1.4em;
		    }
		    &:after {
		    	@include k-transform(skew(30deg));
		    	@include k-transform-origin(100% 0px 0px);
		    	width: 100%;
			    height: 100%;
			    background-color: lighten($color-purple, 8%);
			    content: "";
			    position: absolute;
			    top: 0px;
			    left: 0px;
			    z-index: -1;
		    }
		}
		img {
			@include k-transition(all 0.2s);
			height: 190px;
			margin: 0 auto;
			display: block;
		}
		.main-item-price {
			@include k-transition(all 0.2s);
			@include k-border-radius(50%);
			@include k-animation("MAIN-ITEM-PRICE_ANIMATION 1.3s infinite");
			@include k-background-gradient(darken($color-orange, 10%), lighten($color-orange, 15%), vertical);
			width: 55px;
			height: 55px;
			position: absolute;
			z-index: 1;
			right: -20px;
			bottom: -20px;
			line-height: 55px;
			text-align: center;
			color: $color-white;
			font: {
		    	family: "Chewy", cursive;
		    	size: 1.2em;
		    }
		}
		@include k-keyframes(MAIN-ITEM-PRICE_ANIMATION) {
            0% { @include k-transform(scale(1) rotate(0)); }
            70% { @include k-transform(scale(1.15) rotate(25deg));   }
            100% { @include k-transform(scale(1) rotate(0));  }
        }
	}
}

main.main-cases-open {
	width: 100%;
	margin: 10em 0 0 0;
	.main-cases-open-linie {
	    @include k-transform(translateX(-50%));
	    width: 3px;
	    height: 180px;
	    background-color: $color-aqua;
	    position: absolute;
	    z-index: 99;
	    left: 50%;
	}
	ul.main-cases-open-ul {
		@include k-display-flex();
    	width: 100%;
		li {
			width: 220px;
			height: 180px;
			background-color: $color-purple;
			position: relative;
			display: inline-block;
			text-align: center;
			&:nth-child(even) { background-color: lighten($color-purple, 5%); }
			&.main-cases-open-ul-li-green { border-top: 5px solid $color-green; }
			&.main-cases-open-ul-li-yellow { border-top: 5px solid $color-yellow; }
			&.main-cases-open-ul-li-orange { border-top: 5px solid $color-orange; }
			img {
				height: 85px;
			    margin: 35px auto;
			    display: block;
			}
			h4 {
				padding: 3px 10px 3px 10px;
				background-color: $color-aqua;
				text-shadow: -1px -1px $color-light-black;
				color: $color-white;
				font: {
					weight: bold;
				}
			}
		}
	}
	a {
		&.main-cases-btn {
			@include k-user-select();
			@include k-border-radius(5px);
			@include k-background-gradient(lighten($color-orange, 13%), transparent, horizontal); 
			width: 190px;
			margin: 30px auto;
			padding: 15px 25px 15px 25px;
			background-color: $color-orange;
			display: block;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-white;
			border: 4px solid $color-orange;
			font: {
				weight: bold;
			}
			&:hover,
			&:focus,
			&:active { 
				@include k-background-gradient(lighten($color-orange, 17%), transparent, horizontal);
				background-color: $color-orange;
			}
		}
	}
	h5 {
		margin: 2em 0 2em 0;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
    	line-height: 14px;
		text-shadow: -1px -1px $color-light-black;
		color: $color-white;
		&:after {
			width: 100%;
			height: 2px;
		    margin: 10px 0 0 0;
		    background-color: $color-purple;
		    background-image: linear-gradient(to right, $color-purple, lighten($color-purple, 10%));
		    content: "";
		    position: absolute;
		    display: block;
		}
	}
	.main-cases-contains {
		overflow: hidden;
		ul.main-cases-contains-ul {
    		width: 100%;
			li {
				width: 190px;
				height: 150px;
				background-color: $color-purple;
				position: relative;
				display: inline-block;
				text-align: center;
				cursor: pointer;
				&:hover {
					.main-cases-open-ul-li-hover {
						@include k-display-flex();
						width: 100%;
						height: calc(100% + 27px);
						background-color: rgba($color-light-black, 0.3);
						display: block;
						position: absolute;
						h6 {
							line-height: 150px;
							text-shadow: -1px -1px $color-light-black;
    						color: $color-white;
    						font: {
    							size: 1.7em;
    						}
						}
					}
				}
				&:nth-child(even) { background-color: lighten($color-purple, 5%); }
				&.main-cases-open-ul-li-green { 		
					border-top: 5px solid $color-green;
					h4 { background-color: $color-green; }
				}
				&.main-cases-open-ul-li-yellow { 
					border-top: 5px solid $color-yellow; 
					h4 { background-color: $color-yellow; }
				}
				&.main-cases-open-ul-li-orange {
				 	border-top: 5px solid $color-orange;
				 	h4 { background-color: $color-orange; }
				}
				.main-cases-open-ul-li-hover { display: none; }
				img {
					height: 75px;
				    margin: 25px auto;
				    display: block;
				}
				h4 {
					padding: 12px 15px 15px 15px;
					background-color: $color-aqua;
					text-shadow: -1px -1px $color-light-black;
					color: $color-white;
					font: {
						weight: bold;
					}
				}
			}
		}
	}
}

main.main-support {
	width: 100%;
	min-height: 300px;
	margin: 10em 0 5em 0;
	.main-support-header {
		@include k-border-radius-separate(6px, 6px, 0, 0);
		padding: 25px;
		background-color: $color-purple;
		position: relative;
		overflow: hidden;
		h4 {
			letter-spacing: -1px;
			text-transform: uppercase;
			text-shadow: -1px -1px $color-light-black;
			color: $color-white;
			font: {
				weight: bold;
			}
			&.main-support-header-left { float: left; }
			&.main-support-header-right { float: right; }
		}
		a {
			&.main-support-header-btn {
				@include k-transition(all 0.3s);
				@include k-border-radius(50%);
				width: 50px;
				height: 50px;
				background-color: $color-orange;
				position: absolute;
				top: -10px;
				right: -10px;
				line-height: 40px;
				cursor: pointer;
				text-align: center;
				text-decoration: none;
				color: $color-white;
				font: {
					weight: bold;
					size: 2.7em;
				}
				&:hover {
					@include k-transform(translateY(-2px));
					background-color: lighten($color-orange, 3%);
				}
			}
		}
	}
	.main-support-content {
		@include k-border-radius-separate(0, 0, 6px, 6px);
		padding: 25px;
		background-color: $color-white;
		table#main-support-content-tbl {
			text-align: center;
			thead {
				tr {
					th {
						padding: 20px 10px 20px 10px;
						color: $color-aqua;
						border-top: none;
						font: {
							weight: bold;
							size: 1.2em;
						}
					}
				}
			}
		}
	}
	.main-support-content-open {
		@include k-border-radius-separate(0, 0, 6px, 6px);
		padding: 25px;
		background-color: $color-white;
		label {	
			color: $color-aqua;
			font: {
				size: 1.3em;
				weight: bold;
			}
		}
		h6 {
			width: 50%;
			margin: 0 0 20px 0;
			color: darken($color-dark-white, 10%);
			font: {
				size: 1.1em;
			}
		}
		span { margin: 0 0 0 10px; padding: 5px 7px 7px 7px; }
		.main-support-content-open-response {
			@include k-border-radius(4px);
			margin: 30px 0 30px 0;
			padding: 20px;
			background-color: $color-light-white;
			overflow: hidden;
			border-left: 3px solid $color-purple;
			.support-user {
				float: left;
				color: $color-aqua;
				font: {
					size: 1.3em;
					weight: bold;
				}
			}
			.support-date {
				float: right;
				color: darken($color-dark-white, 15%);
			}
			.support-message {
				margin: 20px 0 0 0;
				float: left;
				color: darken($color-dark-white, 15%);
			}
		}
		a.support-btn {
			@include k-transition(all 0.2s);
			@include k-user-select();
			@include k-border-radius(5px);
			margin: 10px 0 0 0;
			padding: 15px 25px 15px 25px;
			background-color: $color-green;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-white;
			font: {
				weight: bold;
			}
			&:hover { 
				@include k-transform(translateY(-2px));
				background-color: lighten($color-green, 3%);
			}
			&:focus,
			&:active {
				@include k-transform(translateY(2px));
				background-color: lighten($color-green, 3%);
			}
		}
	}
}

@media (max-width: 900px) {
	main.main-support {
		.main-support-content-open {
			h6 { width: 100% !important; }
		}
	}
}