// @include k-border-radius-separate(1px, 2px, 3px, 4px); TTOP-LEFT, TOP-RIGHT, BOTTOM-RIGHT, BOTTOM-LEFT
@mixin k-prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }
    #{$property}: $value;
}

// @include k-border-radius-separate(1px, 2px, 3px, 4px); TOP-LEFT, TOP-RIGHT, BOTTOM-RIGHT, BOTTOM-LEFT
@mixin k-border-radius-separate($top-left-radius, $top-right-radius, $bottom-right-radius, $bottom-left-radius) {
    @include k-prefix(border-top-left-radius, $top-left-radius, "webkit" "moz" "ms" "o");
    @include k-prefix(border-top-right-radius, $top-right-radius, "webkit" "moz" "ms" "o");
    @include k-prefix(border-bottom-right-radius, $bottom-right-radius, "webkit" "moz" "ms" "o");
    @include k-prefix(border-bottom-left-radius, $bottom-left-radius, "webkit" "moz" "ms" "o");
}

// @include k-border-radius(5px); 
@mixin k-border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}

// @include k-transition(color .3s ease);
@mixin k-transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

// @include k-transition-delay(1s);
@mixin k-transition-delay($value) {
    -webkit-transition-delay: $value;
    -moz-transition-delay: $value;
    -ms-transition-delay: $value;
    -o-transition-delay: $value;
    transition-delay: $value;
}

// @include k-transition-duration(0.1s);
@mixin k-transition-duration($value) {
    -webkit-transition-property: $value;
    -moz-transition-property: $value;
    -ms-transition-property: $value;
    -o-transition-property: $value;
    transition-property: $value;
}

// @include k-transform(rotate(7deg));
@mixin k-transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
    transform: $value;
}

// @include k-transform-origin(left);
@mixin k-transform-origin ($value) {
    -webkit-transform-origin: $value;
    -moz-transform-origin: $value;
    -ms-transform-origin: $value;
    -o-transform-origin: $value;
    transform-origin: $value;
}

// @include k-background-color-rgba(rgba($color-blue, 0.4), red);
@mixin k-background-color-rgba($color, $background) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    background-color: $solid-color;
    background-color: $color;
}

// @include k-background-gradient(red, blue, vertical);
@mixin k-background-gradient($start-color, $end-color, $orientation) {
    background: $start-color;
    @if $orientation == 'vertical' {
        background: -webkit-linear-gradient(top, $start-color, $end-color);
        background: linear-gradient(to bottom, $start-color, $end-color);
    } @else if $orientation == 'horizontal' {
        background: -webkit-linear-gradient(left, $start-color, $end-color);
        background: linear-gradient(to right, $start-color, $end-color);
    } @else {
        background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
        background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}

// @include k-background-size-cover();
@mixin k-background-size-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// @include k-box-shadow(0, -1px, 0, 0, rgba(255, 255, 255, .1));
@mixin k-box-shadow($hoff: false, $voff: false, $blur: false, $spread: false, $color: false) {
    -webkit-border-radius: $hoff $voff $blur $spread $color;
    -moz-box-shadow: $hoff $voff $blur $spread $color;
    -ms-box-shadow: $hoff $voff $blur $spread $color;
    -o-box-shadow: $hoff $voff $blur $spread $color;
    box-shadow: $hoff $voff $blur $spread $color;
}

// @include k-border(10px 0 2px 0, solid, black); TOP, RIGHT, BOTTOM, LEFT, solid, black
$side: 1px;
@mixin k-border($coordinates: 0 0 0 0, $colour: #000000, $style: solid) {
    $top: nth($coordinates, 1);
    $right: nth($coordinates, 2);
    $bottom: nth($coordinates, 3);
    $left: nth($coordinates, 4);
    @if not(unitless($top)) { border-top: $top $style $colour; }
    @if not(unitless($right)) { border-right: $right $style $colour; }
    @if not(unitless($bottom)) { border-bottom: $bottom $style $colour; }
    @if not(unitless($left)) { border-left: $left $style $colour; }
}

// @include k-box-sizing(border-box);
// box-sizing: content-box | border-box | padding-box
@mixin k-box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    -ms-box-shadow: $value;
    -o-box-sizing: $value;
    box-sizing: $value;
}

// @include k-animation("HEADER-BUTTON-DOWN_ANIMATION 2s infinite");
@mixin k-animation($animate...) {
    $max: length($animate);
    $animations: "";
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -ms-animation: $animations;
    -o-animation: $animations;
    animation: $animations;
}

// @include k-animation-delay(-1.0s);
@mixin k-animation-delay($value) {
    -webkit-animation-delay: $value;
    -moz-animation-delay: $value;
    -ms-animation-delay: $value;
    -o-animation-delay: $value;
    animation-delay: $value;
}

// @include k-keyframes(HEADER-BUTTON-DOWN_ANIMATION);
@mixin k-keyframes($value) {
    @-webkit-keyframes #{$value} { @content; }
    @-moz-keyframes #{$value} { @content; }
    @-o-keyframes #{$value} { @content; }
    @keyframes #{$value} { @content; }
}
/*  
// EXAMPLE
    @include k-keyframes(HEADER-BUTTON-DOWN_ANIMATION) {
        0% { @include k-box-shadow(0, 0, 0, 0, rgba(255, 255, 255, 0.4)); }
        70% { @include k-box-shadow(0, 0, 0, 10px, rgba(255, 255, 255, 0)); }
        100% { @include k-box-shadow(0, 0, 0, 0, rgba(255, 255, 255, 0)); }
    }
*/

// @include k-display-flex();
@mixin k-display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

// @include k-flex(none)
// positive-number | initial | auto | none
@mixin k-flex($value) {
    -webkit-box-flex: $value;
    -moz-box-flex: $value;
    -webkit-flex: $value;
    -ms-flex: $value;
    -o-flex: $value;
    flex: $value;
}

// @include k-justify-content(center);
// flex-start | flex-end | center | space-between | space-around 
@mixin k-justify-content($value) {
    -webkit-justify-content: $value;
    -moz-justify-content: $value;
    -ms-justify-content: $value;
    -o-justify-content: $value;
    -ms-flex-pack: $value;
    justify-content: $value;
}

// @include k-flex-wrap(wrap);
@mixin k-flex-wrap($value) {
    -webkit-flex-wrap: $value;
    -moz-flex-wrap: $value;
    -ms-flex-wrap: $value;
    -o-flex-wrap: $value;
    flex-wrap: $value;
}

// @include k-align-items(center);
@mixin k-align-items($value) {
    -webkit-align-items: $value;
    -moz-align-items: $value;
    -ms-align-items: $value;
    -o-align-items: $value;
    align-items: $value;
}

// @include k-flex-direction(row);
// row | row-reverse | column | column-reverse
@mixin k-flex-direction($value) {
    -webkit-flex-direction: $value;
    -moz-flex-direction: $value;
    -ms-flex-direction: $value;
    -o-flex-direction: $value;
    flex-direction: $value;
}

// @include k-order(1);
@mixin k-order($value) {
    -webkit-box-ordinal-group: $value;  
    -moz-box-ordinal-group: $value;     
    -ms-flex-order: $value;   
    -o-flex-order: $value;       
    -webkit-order: $value;  
    order: $value;
}

// @include k-flex-shrink(2);
@mixin k-flex-shrink($value) {
    -webkit-flex-shrink: $value;
    -moz-flex-shrink: $value;
    -ms-flex-shrink: $value;
    -o-flex-shrink: $value;
    flex-shrink: $value;
}

// @include k-align-content(center);
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin k-align-content($value) {
    -webkit-align-content: $value;
    -moz-align-content: $value;
    -ms-align-content: $value;
    -o-align-content: $value;
    align-content: $value;
}

// @include k-flex-basis(20%);
@mixin k-flex-basis($value) {
    -webkit-flex-basis: $value;
    -moz-flex-basis: $value;
    -ms-flex-basis: $value;
    -o-flex-basis: $value;
    flex-basis: $value;
}

// @include k-flex-grow(1);
@mixin k-flex-grow($value) {
    -webkit-flex-grow: $value;
    -moz-flex-grow: $value;
    -ms-flex-grow: $value;
    -o-flex-grow: $value;
    flex-grow: $value;
}

// @include k-flex-flow(flex-wrap);
// flex-direction || flex-wrap
@mixin k-flex-flow($value) {
    -webkit-flex-flow: $value;
    -moz-flex-flow: $value;
    -ms-flex-flow: $value;
    -o-flex-flow: $value;
    flex-flow: $value;
}

// @include k-align-self(center);
// auto | flex-start | flex-end | center | baseline | stretch 
@mixin k-align-self($value) {
    -webkit-align-self: $value;
    -moz-align-self: $value;
    -ms-align-self: $value;
    -o-align-self: $value;
    align-self: $value;
}

// @include k-user-select();
@mixin k-user-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}