*, *:before, *:after {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-ms-box-sizing: inherit;
	-o-box-sizing: inherit;
}

html {
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    font: {
    	family: sans-serif;
    }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline; 
}

article, aside, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section { display: block; }

b, strong { 
	font: {
		weight: inherit; 
	}
}

nav, ol, nav, ul { list-style: none; }

code, kbd, samp { 
	font: {
		family: monospace;
	} 
}

dfn { 
	font: {
		style: italic;
	}
}

a { 
	text-decoration: none;
	color: inherit;
}

mark {
	background-color: red;
	color: black;
}

audio, video { display: inline-block; }

[hidden] { display: none; }

audio:not([controls]) {
	height: 0;
	display: none;
}

svg:not(:root) { overflow: hidden; }

blockquote, q {
    quotes: none;
    &:before, &:after, {
        content: "";
        content: none;
    }
}

summary { display: list-item; }

canvas { display: inline-block; }

pre { 
	font: {
		family: monospace; 
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0; 
}

label {
	margin-bottom: .25rem;
  	display: inline-block;
}

button, input, optgroup,
select, textarea {
	margin: 0;
	color: inherit; 
	border: none;
	font: inherit; 
}

input, textarea {
	width: 100%;
	padding: .5rem;
	vertical-align: middle;
  	display: block; 
    border: none;
	box-shadow: none;
}

input { 
	line-height: normal;
	border: thin solid #CCCCCC;
  	border-radius: .2rem;
  	-webkit-border-radius: .2rem;
  	-moz-border-radius: .2rem;
  	-ms-border-radius: .2rem;
  	-o-border-radius: .2rem;
	&:focus { outline: none; }
	&[disabled] {
	 	opacity: .5;
	  	cursor: not-allowed;
	}
	&[type="checkbox"],
	&[type="radio"] {
	  	padding: 0;
	  	box-sizing: border-box;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	    -o-box-sizing: border-box;
	}
}

textarea { overflow: auto; }

button { 
	overflow: visible;
	&:focus { outline: none; }
	&::-moz-focus-inner {
	  	padding: 0;
	  	border: 0;
	}
}

button, select { text-transform: none; }

button, html input[type="button"] {
 	cursor: pointer;
  	-webkit-appearance: button;
    -moz-appearance: button;
    -ms-border-radius: button;
  	-o-appearance: button;
}

progress {
  	width: 100%;
  	vertical-align: middle;
}

select {
	padding: .5rem .8rem;
  	line-height: 2rem;
	vertical-align: middle;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	-ms-appearances: none;
  	-o-appearance: none;
  	color: inherit;
  	border: thin solid rgba(216, 216, 216, .8);
  	border-radius: .2rem;
  	-webkit-border-radius: .2rem;
  	-moz-border-radius: .2rem;
  	-ms-border-radius: .2rem;
  	-o-border-radius: .2rem;
	&:not([multiple]) {
		height: 3.2rem;
		background: white url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23667189' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center / .8rem 1rem;
		padding-right: 2.4rem;
	}
}