$color-white: #FFF;
$color-light-white: #ECF0F1;
$color-dark-white: #B2BEC3;
$color-black: #29282E;
$color-light-black: #2F3542;
$color-purple: #5352ED;
$color-aqua: #3498DB;
$color-green: #27AE60;
$color-orange: #F0932B;
$color-yellow: #F1C40F;

$html-font-size: 62.5%;

$body-background: url(/images/bg.png);
$body-color: $color-light-black;
$body-font-size: 1.4rem;
$body-font-family: "Open Sans", sans-serif;