<template>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-4">
                    <h4 role="footer-logo"></h4>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-4">
                    <h5>Navigation</h5>
                    <ul class="footer-ul">
                        <li>
                            <router-link title="Regulamin" :to="{ name: 'supportopen' }">
                                Regulamin
                            </router-link>
                        </li>
                        <li>
                            <router-link title="Skrzynki" :to="{ name: 'welcome' }">
                                Skrzynki
                            </router-link>
                        </li>
                        <li>
                            <router-link title="Za darmo" :to="{ name: 'supportopen' }">
                                Za darmo
                            </router-link>
                        </li>
                        <li>
                            <router-link title="FAQ" :to="{ name: 'faq' }">
                                FAQ
                            </router-link>
                        </li>
                        <li>
                            <router-link title="Support" :to="{ name: 'support' }">
                                Support
                            </router-link>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-4">
                    <h5>Socials media</h5>
                    <ul class="footer-ul">
                        <li>
                            <a href="#" title="Facebook">Facebook</a>
                        </li>
                        <li>
                            <a href="#" title="Twitter">Twitter</a>
                        </li>
                        <li>
                            <a href="#" title="Instagram">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
    export default {

    }
</script>

<style scoped>
    .profile-photo {
        width: 2rem;
        height: 2rem;
        margin: -.375rem 0;
    }
</style>