<template>
    <header v-if="user" class="header">
        <div class="row">
            <div class="col-sm-8">
                <ul class="header-ul">
                    <li>
                        <span>
                            <img :src="`https://ui-avatars.com/api/?name=${user.name}&rounded=true&background=0D8ABC&color=fff`" alt="Avatar"
                                 :title="user.name"/>
                        </span>
                        <a href="#" class="modal-button" data-modal="modal-faq" title="Mój profil">Mój profil</a>
                    </li>
                    <li>
                        <span>
                            <img src="/images/coin-icon.png" alt="Icon" title="PLN"/>
                        </span>
                        <a href="#" title="Stan konta (PLN)">{{ user.user_balance}}zł</a>
                    </li>
                    <li>
                        <span>
                            <img src="/images/vb-icon.png" alt="Icon" title="VB"/>
				        </span>
                        <a href="#" title="Stan konta (VB)">{{ user.user_vb }}vb</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <a class="header-toggle" href="#" title="Pokaż/Schowaj ostatnie wygrane">
                    <feather @click.prevent="toggle" type="align-left" class="header-toggle-btn"></feather>
                </a>
            </div>
        </div>
    </header>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "Header",

        computed: mapGetters({
            user: 'auth/user'
        }),

        methods: {
            toggle() {
                this.$store.dispatch('drops/toggle');
            }
        }
    }
</script>

<style scoped>
    .header-toggle-btn {
        color: #fff;
    }
</style>