<template>
    <transition name="fade">
        <aside id="aside" v-show="active">
            <div class="aside-header">
                <h4>Ostatnie wygrane</h4>
            </div>
            <div class="aside-content">
                <ul class="aside-content-ul">
                    <li class="aside-content-ul-green" v-for="item in dropsList">
                        <div :class="{
                            'aside-content-ul-hover': true,
                            'aside-content-ul-hover-green': (item.drop.value < 100),
                            'aside-content-ul-hover-yellow': (item.drop.value >= 100 && item.drop.value < 300),
                            'aside-content-ul-hover-orange': (item.drop.value >= 300)
                        }">
                            <img :src="item.user.avatar" alt="Avatar" :title="item.user.name"/>
                            <h5>{{ item.user.name }}</h5>
                        </div>
                        <img :src="item.drop.image" alt="Win" title="Ostatnia wygrana"/>
                        <h4>{{ item.drop.value }}</h4>
                    </li>
                </ul>
            </div>
        </aside>
    </transition>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "LastDrop",

        computed: Object.assign(
            mapGetters({
                active: 'drops/active',
                drops: 'drops/drops'
            }), {
                dropsList: function () {
                    return this.drops.reverse();
                }
            }
        ),

        mounted() {
            // if (this.active) {
                this.toggle();
            // }
        },
        methods: {
            toggle() {
                let x = document.getElementById("aside");
                // if (x.style.width === "240px") {
                //     x.style.width = "0";
                // } else {
                    x.style.width = "240px";
                // }
            }
        }
    }
</script>

<style scoped>

</style>