<template>
  <nav class="nav">
    <div class="nav-left">
      <router-link :to="{ name: 'welcome' }" class="navbar-brand">
        <img src="/images/logo.png" alt="Logo" title="Przejdź to strony głównej" />
      </router-link>
    </div>
    <div class="nav-right">
      <div class="nav-right-top">
        <div class="nav-top-left">
          <a href="#" title="Regulamin">Regulamin</a>
        </div>
        <div class="nav-top-right">
          <!--<li v-if="user" class="nav-item dropdown">-->
            <!--<a class="nav-link dropdown-toggle text-dark"-->
               <!--href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--<img :src="user.photo_url" class="rounded-circle profile-photo mr-1">-->
              <!--{{ user.name }}-->
            <!--</a>-->
            <!--<div class="dropdown-menu">-->
              <!--<router-link :to="{ name: 'settings.profile' }" class="dropdown-item pl-3">-->
                <!--<fa icon="cog" fixed-width/>-->
                <!--{{ $t('settings') }}-->
              <!--</router-link>-->

              <!--<div class="dropdown-divider"/>-->
              <!--<a href="#" class="dropdown-item pl-3" @click.prevent="logout">-->
                <!--<fa icon="sign-out-alt" fixed-width/>-->
                <!--{{ $t('logout') }}-->
              <!--</a>-->
            <!--</div>-->
          <!--</li>-->
          <!--&lt;!&ndash; Guest &ndash;&gt;-->
          <!--<template v-else>-->
            <!--<li class="nav-item">-->
              <!--<router-link :to="{ name: 'login' }" class="nav-link" active-class="active">-->
                <!--{{ $t('login') }}-->
              <!--</router-link>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<router-link :to="{ name: 'register' }" class="nav-link" active-class="active">-->
                <!--{{ $t('register') }}-->
              <!--</router-link>-->
            <!--</li>-->
          <!--</template>-->

          <a v-if="user" href="#" class="dropdown-item pl-3" @click.prevent="logout">
            <fa icon="sign-out-alt" fixed-width/>
            {{ $t('logout') }}
          </a>
          <router-link v-else :to="{ name: 'login' }" class="nav-link" active-class="active">
            {{ $t('login') }}
          </router-link>
        </div>
      </div>
      <ul class="nav-right-ul">
        <li v-if="user && user.rank > 2">
          <a href="/admin">Admin</a>
        </li>
        <li v-if="user">
          <router-link :to="{ name: 'free' }">
            Darmowe
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'faq' }">
            FAQ
          </router-link>
        </li>
        <li v-if="user">
          <router-link :to="{ name: 'support' }">
            Support
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'
import LocaleDropdown from './LocaleDropdown'

export default {
  components: {
    LocaleDropdown
  },

  data: () => ({
    appName: window.config.appName
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped>
.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -.375rem 0;
}
</style>
