<template>
    <div class="payments">
        <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-4">
                <img src="https://microsms.pl/img_2018/logo_white.png" alt="Metoda płatności" title="MicroSMS" class="img-fluid">
            </div>
            <div class="col-md-3 col-sm-5 col-xs-4">
                <img src="https://microsms.pl/img_2018/logo_white.png" alt="Metoda płatności" title="MicroSMS" class="img-fluid">
            </div>
            <div class="col-md-3 col-sm-5 col-xs-4">
                <img src="https://microsms.pl/img_2018/logo_white.png" alt="Metoda płatności" title="MicroSMS" class="img-fluid">
            </div>
            <div class="col-md-3 col-sm-5 col-xs-4">
                <img src="https://microsms.pl/img_2018/logo_white.png" alt="Metoda płatności" title="MicroSMS" class="img-fluid">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Payments"
    }
</script>

<style scoped>

</style>