<template>
    <div class="columns">
        <div class="column">
            <div class="columns is-centered">
                <a id="spin" class="main-free-btn" v-on:click="spin" title="Rozpocznij losowanie">Rozpocznij losowanie</a>
            </div>
            <div class="columns is-centered">
                <canvas id="canvas" width="500" height="500"></canvas>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "roulette",

        data() {
            return {
                options: ['1 VB', '5 VB', '10 VB', '50 VB', '400 VB', '1000 VB'],
                new_option: '',
                startAngle: 0,
                startAngleStart: 0,
                spinTimeout: null,
                spinArcStart: 10,
                spinTime: 0,
                spinTimeTotal: 0,
                ctx: ''
            }
        },
        computed:{
            arc: function () {
                return Math.PI / (this.options.length / 2);
            }
        },
        methods: {
            byte2Hex: function (n) {
                let nybHexString = "0123456789ABCDEF";
                return String(nybHexString.substr((n >> 4) & 0x0F,1)) + nybHexString.substr(n & 0x0F,1);
            },
            RGB2Color: function (r,g,b) {
                return '#' + this.byte2Hex(r) + this.byte2Hex(g) + this.byte2Hex(b);
            },
            getColor: function (item, maxitem) {
                let phase = 0;
                let center = 128;
                let width = 127;
                let frequency = Math.PI*2/maxitem;

                let red   = Math.sin(frequency*item+2+phase) * width + center;
                let green = Math.sin(frequency*item+0+phase) * width + center;
                let blue  = Math.sin(frequency*item+4+phase) * width + center;

                return this.RGB2Color(red,green,blue);
            },
            addOptions: function () {
                this.options.push(this.new_option);
                this.new_option = '';
                this.drawRouletteWheel()
            },
            removeOptions: function (option) {
                let idx = this.options.indexOf(option) || 0;
                this.options.splice(idx, 1);
                this.drawRouletteWheel()
            },
            drawRouletteWheel: function () {
                let canvas = document.getElementById("canvas");
                if (canvas.getContext) {
                    let outsideRadius = 200;
                    let textRadius = 160;
                    let insideRadius = 125;
                    this.ctx = canvas.getContext("2d");
                    this.ctx.clearRect(0,0,500,500);
                    this.ctx.strokeStyle = "pink";
                    this.ctx.lineWidth = 2;
                    this.ctx.font = 'bold 12px Helvetica, Arial';
                    for(let i = 0; i < this.options.length; i++) {
                        let angle = this.startAngle + i * this.arc;
                        //this.ctx.fillStyle = colors[i];
                        this.ctx.fillStyle = this.getColor(i, this.options.length);
                        this.ctx.beginPath();
                        this.ctx.arc(250, 250, outsideRadius, angle, angle + this.arc, false);
                        this.ctx.arc(250, 250, insideRadius, angle + this.arc, angle, true);
                        this.ctx.stroke();
                        this.ctx.fill();
                        this.ctx.save();
                        this.ctx.textShadow = "-1px -1px black";
                        this.ctx.fillStyle = "#FFF";
                        this.ctx.font = "2em Chewy";
                        this.ctx.translate(250 + Math.cos(angle + this.arc / 2) * textRadius,
                            250 + Math.sin(angle + this.arc / 2) * textRadius);
                        this.ctx.rotate(angle + this.arc / 2 + Math.PI / 2);
                        let text = this.options[i];
                        this.ctx.fillText(text, -this.ctx.measureText(text).width / 2, 0);
                        this.ctx.restore();
                    }
                    //Arrow
                    this.ctx.fillStyle = "#6f42c1";
                    this.ctx.beginPath();
                    this.ctx.moveTo(250 - 4, 250 - (outsideRadius + 10));
                    this.ctx.lineTo(250 + 4, 250 - (outsideRadius + 10));
                    this.ctx.lineTo(250 + 4, 250 - (outsideRadius - 10));
                    this.ctx.lineTo(250 + 9, 250 - (outsideRadius - 10));
                    this.ctx.lineTo(250 + 0, 250 - (outsideRadius - 18));
                    this.ctx.lineTo(250 - 9, 250 - (outsideRadius - 10));
                    this.ctx.lineTo(250 - 4, 250 - (outsideRadius - 10));
                    this.ctx.lineTo(250 - 4, 250 - (outsideRadius + 10));
                    this.ctx.fill();
                }
            },
            spin: function () {
                this.spinAngleStart = Math.random() * 10 + 10;
                this.spinTime = 0;
                this.spinTimeTotal = Math.random() * 3 + 4 * 1000;
                this.rotateWheel();
            },
            rotateWheel: function () {
                this.spinTime += 30;
                if(this.spinTime >= this.spinTimeTotal) {
                    this.stopRotateWheel();
                    return;
                }
                let spinAngle = this.spinAngleStart - this.easeOut(this.spinTime, 0, this.spinAngleStart, this.spinTimeTotal);
                this.startAngle += (spinAngle * Math.PI / 180);
                this.drawRouletteWheel();
                let _this = this
                this.spinTimeout = setTimeout(function() {
                    _this.rotateWheel()
                }, 30);
            },
            stopRotateWheel: function () {
                clearTimeout(this.spinTimeout);
                let degrees = this.startAngle * 180 / Math.PI + 90;
                let arcd = this.arc * 180 / Math.PI;
                let index = Math.floor((360 - degrees % 360) / arcd);
                this.ctx.save();
                this.ctx.font = 'bold 2em Chewy';
                let text = this.options[index]
                console.log(index, text, this.options)
                this.ctx.fillText(text, 250 - this.ctx.measureText(text).width / 2, 250 + 10);
                this.ctx.restore();
            },
            easeOut: function (t, b, c, d) {
                let ts = (t/=d)*t;
                let tc = ts*t;
                return b+c*(tc + -3*ts + 3*t);
            }
        },
        mounted() {
            this.drawRouletteWheel();
        }
    }
</script>

<style scoped>

</style>