<template>
    <main class="main-cases-open">
        <h5 style="margin: 0 0 2em 0;">{{ item.case_name }}</h5>
        <div class="main-cases-open-linie"></div>
        <div class="main-cases-open-container">
            <ul class="main-cases-open-ul">
                <li v-for="drop in item.view_items" :class="{
                'main-cases-open-ul-li-green': (drop.item_value < 100),
                'main-cases-open-ul-li-yellow': (drop.item_value >= 100 && drop.item_value < 300),
                'main-cases-open-ul-li-orange': (drop.item_value >= 300)
            }">
                    <img src="/images/vb-icon.png" alt="Wygrana" title="Ostatnia wygrana"/>
                    <h4> {{ drop.item_value }} </h4>
                </li>
            </ul>
        </div>
        <div class="main-cases-contains">
            <div class="row">
                <div class="col-md-12">
                    <a class="main-cases-btn" href="#" @click.prevent="open" title="Otwórz skrzynkę">Otwórz skrzynkę</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>skrzynka zawiera</h5>
                    <ul class="main-cases-contains-ul">

                        <li v-for="drop in item.items" :class="{
                            'main-cases-open-ul-li-green': (drop.item_value < 100),
                            'main-cases-open-ul-li-yellow': (drop.item_value >= 100 && drop.item_value < 300),
                            'main-cases-open-ul-li-orange': (drop.item_value >= 300)
                        }">
                            <div class="main-cases-open-ul-li-hover">
                                <h6>{{ drop.item_chance }}%</h6>
                            </div>
                            <img src="/images/vb-icon.png" :alt="drop.item_value" title="Nagroda"/>
                            <h4> {{ drop.item_value }} </h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import axios from 'axios';
    import $ from 'jquery';

    export default {
        name: "case",

        data() {
            return {
                item: {
                    id: 1,
                    case_active: 0,
                    case_image: "",
                    case_name: "",
                    case_opened: 0,
                    case_price: 1.23,
                    case_priority: 0,
                    items: [],
                }
            }
        },

        props: [
            'id'
        ],

        async created() {

            if (!Number.isInteger(parseInt(this.id)) && parseInt(this.id) > 0)
                return this.$router.go(-1)

            await this.get();
        },

        methods: {
            async get() {
                let {data} = await axios.get(`/api/cases/${this.id}`);

                console.log(data);

                let item = data.item;

                item.view_items = [];

                for (let i = 0; i < 40; i++)
                    for (let drop in item.items)
                        item.view_items.push(item.items[drop]);

                this.item = item;
            },

            open() {

                $('.main-cases-open-ul').stop().css('marginLeft', '0px');

                $('.main-cases-open-ul').stop().animate({
                    marginLeft: '-' + 5000 + 'px'
                }, 4800)

            }
        }
    }
</script>

<style lang="scss" scoped>
    main.main-cases-open
    {
        .main-cases-open-container {
            width: 100%;
            overflow: hidden;
            max-height: 180px;
            display: block;

            ul.main-cases-open-ul {
                width: 30000px;
                max-height: 180px;
                display: block;
            }
        }
    }
</style>