<template>
    <main class="main-faq">
        <h4>Najczęściej zadawane pytania:</h4>
        <ol class="main-faq-ol">
            <li>Pytanie numer jeden.</li>
            <li>Pytanie numer dwa.</li>
            <li>Pytanie numer trzy.</li>
        </ol>
        <hr class="mani-faq-hr" />
        <ol class="main-faq-answers-ol">
            <li>
                Pytanie numer jeden.
                <span>Odpowiedz do pytania numer jeden.</span>
            </li>
            <li>
                Pytanie numer dwa.
                <span>Odpowiedz do pytania numer dwa.</span>
            </li>
            <li>
                Pytanie numer trzy.
                <span>Odpowiedz do pytania numer trzy.</span>
            </li>
        </ol>
    </main>
</template>

<script>
    export default {
        name: "faq"
    }
</script>

<style scoped>

</style>