<template>
    <main class="main-free">
        <h4 role="free-title">Darmowe doładowania co 24 godziny</h4>
        <h4 role="free-desc">Na naszym serwisie dostajesz darmowe co 24 godziny, aby dostać nagrodę wystarczy kliknąć jedynie przycisk "Odbierz"!</h4>
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <roulette />
            </div>
        </div>
    </main>
</template>

<script>
    import Roulette from "~/components/Roulette";
    export default {
        name: "free",
        components: {Roulette}
    }
</script>

<style scoped>

</style>