<template>
  <div>
    <main class="main-cases">
      <div class="row justify-content-center">
        <router-link :to="{ name: 'case', params: { id: item.id } }" class="col-md-3 col-sm-6 col-xs-6" v-for="item in cases" :key="item.id">
          <div class="main-item">
            <div class="main-item-title">{{ item.case_name }}</div>
            <img :src="`images/${ item.case_image }.png`" alt="Skrzynia" title="Kliknij, aby otworzyć" />
            <div class="main-item-price">{{ item.case_price }}zł</div>
          </div>
        </router-link>
      </div>
    </main>

    <!--<card :title="$t('home')">-->
      <!--{{ $t('you_are_logged_in') }}-->
    <!--</card>-->
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

export default {
  // middleware: 'auth',

  metaInfo () {
    return { title: this.$t('home') }
  },

  computed: mapGetters({
      cases: 'case/list'
  })
}
</script>
