<template>
    <main class="main-payments">
        <div class="row">
            <div class="col-md-6">
                <h4>Doładowanie przelewem</h4>
                <h6>Pamiętaj! Minimalna kwota wynosi <span>5zł</span>, a maksymalna to <span>1000zł</span>. Płatności obsługiwane poprzez <span>Przelewy24</span>.</h6>
                <div class="main-payments-item">
                    <div class="main-payments-item">
                        <div class="main-payments-item-header">
                            Zakup V-Dolce SMSem
                        </div>
                        <div class="main-payments-item-content">
                            <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-amount">Wybierz kwotę</label>
                                </div>
                                <select class="custom-select">
                                    <option selected>Wybierz...</option>
                                    <option value="1">1zł</option>
                                    <option value="2">2zł</option>
                                    <option value="3">3zł</option>
                                </select>
                            </div>
                            <h4 style="margin: 30px 0 15px 0;">Jak doładować?</h4>
                            <p class="main-item-text">Wyślij SMS o treści: <span>vbdrop</span>.</p>
                            <p class="main-item-text">Na numer: <span>32444</span>.</p>
                            <p class="main-item-text">Wartość całkowitego SMS wynosi: <span>22zł</span>.</p>
                            <div class="input-group input-group-lg mt-5 mb-3">
                                <input type="text" class="form-control form-control-lg" placeholder="Wprowadź podany kod SMSa" aria-label="Wprowadź podany kod SMSa">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Wprowadź podany kod SMSa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h4>Doładowanie sms</h4>
                <h6>Pamiętaj! Po wybraniu kwoty SMSa oraz wpisaniu prawidłowej treści i numeru SMSa, wpisz otrzymany kod SMS i gotowe!</h6>
                <div class="main-payments-item">
                    <div class="main-payments-item-header">
                        Zakup V-Dolce przelewem
                    </div>
                    <div class="main-payments-item-content">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Wpisz daną kwotę" aria-label="Wpisz daną kwotę">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Zapłać</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        middleware: 'auth',

        name: "payments"
    }
</script>

<style scoped>

</style>