.error-page-bg {
	background: url("../../resources/images/error-page-background.png") no-repeat; 
	@include k-background-size-cover();
}

header#header-animated-counter {
	h4 {
		margin: 50px 0 0 0;
		text-align: center;
		text-shadow: -0.09em 0.09em $color-dark-blue-second;
		color: $color-white;
		font: {
			size: 9.5em;
		}
	}
}

main#main {
	@include k-transform(translate(-50%, -50%));
	width: 35%;
	position: absolute;
	left: 50%;
	top: 50%;
	border: 2px dashed $color-dark-azure;
	header#main-header {
		padding: 25px;
		background-color: $color-light-white;
		overflow: hidden;
		border-top: 2px solid $color-white;
		.main-header-title {
			float: left;
			color: $color-dark-grey;
			font: {
				size: 1.2em;
			}
		}
		.main-header-error-id {
			float: right;
			color: $color-dark-grey;
			font: {
				size: 1.1em;
			}
		}
	}
	aside#main-aside-first,
	aside#main-aside-second {
		padding: 35px 25px 35px 25px;
		background-color: $color-light-white-second;
	}
	aside#main-aside-first {
		padding: 45px 25px 45px 25px;
		background-color: $color-white;
		h3 {
			color: $color-dark-grey;
			font: {
				weight: bold;
			}
		}
		h4 { 
			color: $color-dark-grey; 
			font: {
				size: 0.9em;
			}
		}
	}
	aside#main-aside-second {
	 	input {
			@include k-box-sizing(border-box);
			@include k-border-radius(10px);
			@include k-transition(all .2s);
			width: 100%;
		 	padding: 15px;
		 	cursor: pointer;
		 	border: none;
		 	&:hover { border-left: 3px solid $color-dark-azure; }
		 	&:focus,
		 	&:active {
		 		padding-left: 20px;
				border-left: 3px solid $color-dark-azure;
			}
		}
	}
	footer#main-footer {
		padding: 25px;
		background-color: $color-white;
		h5 {
			color: $color-dark-grey;
			&:before {
				width: 20px;
				height: 1px;
				margin: 8px 10px 0 0;
				background-color: $color-dark-azure;
				display: block;
				float: left;
				content: "";
			}
		}
	}
}

@media (max-width: 767px) {
	body {
		min-height: 730px;
		position: relative;
	}
	main#main { min-width: 95%; }
}
		
@media (min-width: 768px) and (max-width: 1228px) {
	body {
		min-height: 730px;
		position: relative;
	}
	main#main { min-width: 65%; }
}