aside#aside {
	@include k-transition(all 0.2s);
	@include k-box-shadow(14px, 0px, 35px, 0, rgba($color-light-black, 0.5));
	width: 0;
	background-color: $color-light-black;
	position: fixed;
	display: block;
	top: 0;
	z-index: 99999;
	.aside-header {
		height: 70px;
		background-color: $color-white;
		text-align: center;
		h4 {
			line-height: 70px;
			letter-spacing: -1px;
			text-transform: uppercase;
			color: $color-purple;
			font: {
				weight: bold;
				size: 1.2em;
			}
		}
	}
	.aside-content {
		height: 95vh;
		overflow-x: auto;
		ul.aside-content-ul {
			li {
				width: 100%;
				height: 160px;
				background-color: lighten($color-light-black, 3%);
				line-height: 120px;
				position: relative;
				text-align: center;
				color: $color-white;
				cursor: pointer;
				border-bottom: 3px solid $color-light-black;
				&:hover {
					.aside-content-ul-hover {
						width: 100%;
						height: 100%;
						z-index: 99;
						display: block;
						position: absolute;
					}
				}
				&:last-child { border: none; }
				&.aside-content-ul-green { border-left: 7px solid $color-green; }
				&.aside-content-ul-yellow { border-left: 7px solid $color-yellow; }
				&.aside-content-ul-orange { border-left: 7px solid $color-orange; }
				.aside-content-ul-hover {
					position: relative;
					display: none;
					img {
						@include k-border-radius(50%);
						width: 33px;
						height: 33px;
						margin-top: 20px;
					}
					h5 {
						@include k-transform(translate(-50%, -50%));
						bottom: 30px;
						position: absolute;
						left: 50%;
						text-shadow: -1px 0 $color-light-black;
						font: {
							size: 1.2em;
							weight: 400;
						}
					}
					&.aside-content-ul-hover-green { @include k-background-gradient($color-green, transparent, horizontal); }
					&.aside-content-ul-hover-yellow { @include k-background-gradient($color-yellow, transparent, horizontal); }
					&.aside-content-ul-hover-orange { @include k-background-gradient($color-orange, transparent, horizontal); }
				}
				img {
					height: 60px;
					margin: 30px auto;
				}
				h4 {
					position: absolute;
					bottom: 30px;
					left: 42%;
					color: $color-aqua;
					font: {
						size: 1.5em;
						weight: bold;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	aside.aside  {
		width: 100%;
		background: #172b77;
		z-index: 999;
	}
}