.chat {
	position: fixed;
	right: 30px;
	bottom: 0;
	z-index: 9;
	.chat-header {
		width: 300px;
		padding: 15px 10px 15px 15px;
		background-color: $color-white;
		position: relative;
		overflow: hidden;
		color: $color-purple;
		border-bottom: 1px solid $color-light-white;
		h4 {
			margin: 5px 0 0 0;
			float: left;
			letter-spacing: -1px;
			text-transform: uppercase;
			color: $color-aqua;
			font: {
				weight: bold;
				size: 1.2em;
			}
			&:hover { text-decoration: none; }
			&:before {
				@include k-animation("GREEN_DOT_ANIMATION 1.3s infinite");
		        @include k-border-radius(50%);
		        width: 8px;
		        height: 8px;
		        margin: 8px 15px 0 0;
		        background-color: $color-green;
		        display: block;
		        content: "";
		        float: left;
			}
		}
		a {
			&.chat-toggle {
				float: right;
				svg {
			    	&.chat-toggle-btn {
			    		@include k-transition(all 0.4s);
						width: 27px;
						height: 27px;
						stroke: $color-aqua;
				    }
			    }
			}
		}
	}
	.chat-content {
		background-color: $color-white;
		overflow: hidden;
		ul.chat-content-ul {
			height: 475px;
			overflow-x: hidden;
			overflow-y: scroll;
			li {
				padding: 15px;
				display: block;
				border-bottom: 1px solid $color-light-white;
				&.chat-content-info {
					background-color: $color-aqua;
					span {
						&.chat-content-info-user {
							float: left;
							color: $color-white;
							font: {
								weight: bold;
								size: 0.9em;
							}
						}
						&.chat-content-info-time { @extend .chat-content-time; }
						&.chat-content-info-message  {
							width: 200px;
							margin: 20px 0 0 0;
							display: block;
							color: $color-light-white;
							font: {
								size: 0.8em;
							}
						}
					}
				}
				span {
					&.chat-content-avatar {
						width: 39px;
						height: 39px;
						margin: 0 10px 0 0;
						float: left;
						img {
							@include k-border-radius(50%);
							width: 33px;
							height: 33px;
						}
					}
					&.chat-content-user {
						color: $color-light-black;
						font: {
							weight: bold;
							size: 0.8em;
						}
					}
					&.chat-content-time {
						float: right;
						color: $color-dark-white;
						font: {
							weight: bold;
							size: 0.8em;
						}
					}	
					&.chat-content-message {
						width: 200px;
						margin: 3px 0 0 50px;
						display: block;
						color: $color-dark-white;
						font: {
							size: 0.8em;
						}
					}
				}
			}
		}
		form.chat-form {
			padding: 15px 10px 15px 10px;
			background-color: $color-light-white;
			overflow: hidden;
			input[type=text] {
				@include k-border-radius(6px);	
				@include k-transition(all 0.3s);
				width: 65%;
				background-color: $color-white;
				padding: 12px;
				float: left;
				color: $color-light-black;
				font: {
					size: 0.9em;
				}
			}
			input[type="submit"] {
				@include k-transition(all 0.1s);
				@include k-border-radius(6px);	
				width: 33%;
				padding: 12px;
				background-color: $color-aqua;
				float: right;
				text-align: center;
				text-transform: uppercase;
				color: $color-white;
				cursor: pointer;
				font: {
				    weight: bold;
				    size: 0.9em;
				}
				&:hover { background-color: darken($color-aqua, 3%); }
				&:focus, &:active { background-color: darken($color-aqua, 3%); }
			}
		}
	}
}


@media (max-width: 580px) {
	.chat {
		position: fixed;
		right: 0px;
		bottom: 0;
		z-index: 9;
		.chat-header { width: 100px; }
	}
}