footer.footer {
	min-height: 200px;
	padding: 40px 0 20px 0;
	background-color: $color-light-black;
	text-align: center;
	color: $color-white;
	h4[role="footer-logo"] {
		line-height: 200px;
		text-shadow: -2px -2px darken($color-light-black, 5%);
		color: lighten($color-light-black, 10%);
		font: {
			size: 3em;
		}
		&:before { content: "vbdrop"; }
	}
	h5 {
		padding: 0 0 30px 0;
		letter-spacing: -1px;
		text-transform: uppercase;
		text-shadow: -1px -1px $color-black;
		color: $color-white;
		font: {
			weight: bold;
		}
	}
	ul.footer-ul {
		li {
			margin: 0 0 5px 0;
			text-align: center;
			a {
				color: $color-dark-white;
				font: {
					size: 1.1em;
					weight: 600;
				}
			}
		}
	}
}