header.header {
	width: 100%;
	ul.header-ul {
		margin: 5px 0 0 0;
		li {
			padding: 0 10px 0 0;
			display: inline-block;
			&:hover {
				a {
					background-color: $color-light-white;
				}
			}
			&:last-child {
				padding: 0;
			}
			span {
				@include k-border-radius-separate(3px, 0, 0, 3px);
				height: 40px;
				padding: 6px 10px 0 6px;
				background-color: $color-white;
				float: left;
				border-right: 1px solid $color-light-white;
				text-align: center;
				img {
					@include k-border-radius(50%);
					height: 28px;
					margin: 0 0 0 5px;
					border: 2px solid $color-purple;
				}
			}
			a {
				@include k-transition(all 0.2s);
				@include k-border-radius-separate(0, 3px, 3px, 0);
				width: 100px;
				height: 40px;
				background-color: $color-white;
				float: left;
				line-height: 40px;
				text-align: center;
				text-transform: uppercase;
				color: $color-aqua;
				font: {
					weight: bold;
				}
				&:hover {
					text-decoration: none;
				}
				img {
					height: 24px;
					margin: 0 5px 4px 0;
				}
			}
		}
	}
	.header-toggle {
		float: right;
		svg {
			fill:white !important;
		}
	}
	svg {
		fill: white !important;
		&.feather.feather-align-left.feather__content {
			@include k-transition(all 0.4s);
			width: 40px;
			height: 40px;
			&:hover { @include k-transform(scale(1.3)); }
		}
	}
}

@media (max-width: 580px) {
	header.header {
		ul.header-ul { margin: 4em 0 0 0; }
		a {
			&.header-toggle { margin: 1em 0 0 0; }
		}
	}
}