nav.nav {
	width: 100%;
	margin: 0 0 2em 0;
	.nav-left {
		width: 20%;
		height: 113px;
		margin: 10px 10px 0 0;
		background-color: $color-white;
		line-height: 113px;
		float: left;
		position: relative;
		img { 
			@include k-transform(translate(-50%, -50%));
			height: 110px;
			position: absolute;
			left: 50%;
			top: 50%;
		}
	}
	.nav-right {
		width: calc(80% - 10px);
		height: 75px;
		float: right;
		.nav-right-top {
			width: 100%;
			margin: 10px 0 0 0;
			padding: 11px 15px 11px 15px;
			background-color: $color-white;
			overflow: hidden;
			border-bottom: 1px solid $color-light-white;
			font: {
				size: 0.8em;
				weight: bold;
			}
			a {
				@include k-transition(all 0.1s);
				margin: 0 10px 0 0;
				color: $color-light-black;
				&:hover { text-decoration: underline; }
				&:last-child { margin: 0; }
			}
			.nav-top-left { float: left; }
			.nav-top-right { float: right; }
		}
		ul.nav-right-ul {
			margin: 0 0 10px 0;
			background-color: $color-white;
			line-height: 75px;
			text-align: right;
			li {
				padding: 0 20px 0 20px;
				display: inline-block;
				border-right: 1px solid $color-light-white;
				&:last-child { border: none; }
				a {
					@include k-transition(all 0.1s);
					text-transform: uppercase;
					color: $color-light-black;
					font: {
						weight: bold;
						size: 0.9em;
					}
					&:hover { 
						text-decoration: none;
						color: $color-purple; 
					}
				}
			}
		}
	}
}

@media (max-width: 800px) {
	nav.nav {
		margin: 0 0 3em 0;
		.nav-left {
			width: 50%;
			margin: 30px 0 20px 0;
			display: block;
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
		.nav-right {
			width: 100%;
			ul.nav-right-ul {
				text-align: center;
				li { border: none; }
			}
		}
	}
}