.payments {
  margin: 5em 0 8em 0;
  img {
    @include k-transition(all 0.2s);
    height: 60px;
    margin: 30px auto;
    display: block;
    opacity: 0.4;
    cursor: pointer;
    &:hover { opacity: 1; }
  }
}

main.main-payments {
  @include k-border-radius(6px);
  margin: 5.5em 0 7em 0;
  padding: 25px;
  background-color: $color-white;
  border-bottom: 5px solid $color-dark-white;
  h4 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    color: $color-aqua;
    font: {
      weight: bold;
    }
  }
  h6 {
    margin: 20px 0 50px 0;
    color: $color-dark-white;
    font: {
      size: 1.2em;
    }
    span {
      color: $color-aqua;
      font: {
        weight: bold;
      }
    }
  }
  .main-payments-item {
    @include k-border-radius(6px);
    overflow: hidden;
    border: 1px solid $color-purple;
    .main-payments-item-header {
      padding: 15px;
      background-color: $color-purple;
      text-transform: uppercase;
      color: $color-white;
      font: {
        weight: bold;
      }
    }
    .main-payments-item-content {
      padding: 15px 15px 5px 15px;
      p.main-item-text {
        color: $color-dark-white;
        span {
          color: $color-aqua;
          font: {
            weight: bold;
          }
        }
      }
    }
  }
}