@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

// Utils
@import "utils/reset";
@import "utils/mixins";
@import "utils/variables";
@import "utils/utils";

// Pages
@import "pages/index";

// Layouts
@import "layouts/aside";
@import "layouts/nav";
@import "layouts/header";
@import "layouts/chat";
@import "layouts/footer";
@import "layouts/payments";

// Components
// @import "components/buttons";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Chewy);

html { font-size: $html-font-size; }

body {
  background: $body-background top;
  background-attachment: fixed;
  color: $body-color;
  font: {
    family: $body-font-family;
    size: $body-font-size;
  }
}

a {
  text-decoration: none;
  color: $color-light-black;
  &:hover { color: $color-light-black; }
}

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';
