<template>
    <div class="main-layout">
        <last-drop></last-drop>
        <div id="main-page" class="container mt-4">
            <navbar/>
            <header-box/>
            <child/>
            <payments/>
        </div>
        <footer-box/>
    </div>
</template>

<script>
    import Navbar from '~/components/Navbar'
    import FooterBox from '~/components/Footer'
    import LastDrop from '~/components/LastDrop'
    import HeaderBox from '~/components/Header'
    import Payments from "../components/Payments";

    export default {
        name: 'MainLayout',

        components: {
            Payments,
            Navbar,
            FooterBox,
            LastDrop,
            HeaderBox
        }
    }
</script>
