<template>
    <main class="main-profile">
        <div class="main-profile-header">
            <a class="profile-btn" href="#" title="Doładuj środki">Doładuj środki</a>
            <div class="main-profile-avatar">
                <img src="https://vbcase.com/uploads/profile/116789537025745564670.jpg" alt="Avatar" title="Patryk Kudlik" />
            </div>
            <h5 class="profile-user">krudi</h5>
            <h5 class="profile-time">joined 3 years ago</h5>
            <div class="profile-tabs">
                <ul class="profile-tabs-ul">
                    <li>
                        <a class="tab" @click.prevent="openTab(event, 'last-wins')" href="#" title="Ostanie wygrane">Ostatnie wygrane</a>
                    </li>
                    <li>
                        <a class="tab" @click.prevent="openTab(event, 'withdraw')" href="#" title="Ostanie wygrane">Wypłać środki</a>
                    </li>
                    <li>
                        <a id="open" class="tab" @click.prevent="openTab(event, 'prartner')" href="#" title="Poleconi użytkownicy">Poleconi użytkownicy</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="last-wins" class="main-profile-content">
            <div class="main-profile-content-lastwins">
                <table id="main-profile-content-lastwins-tbl" class="table">
                    <thead>
                    <tr>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Tytuł</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ostatnia aktualizacja</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Błąd strony</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th>Błąd strony</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th>Błąd strony</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="withdraw" class="main-profile-content">
            <div class="main-profile-content-withdraw">
                <h4>Twoje możliwe środki do wypłacenia: <span class="profile-withdraw">1500</span></h4>
                <a class="main-profile-content-withdraw-btn" href="#" title="Wypłać środki">Wypłać</a>
            </div>
        </div>
        <div id="prartner" class="main-profile-content">
            <div class="main-profile-content-partner">
                <h4 role="partner-title">Jak to działa</h4>
                <h4 role="partner-desc">Za każdego poleconego użytkownika otrzymujesz kwotę w wysokości <span>5zł</span>. Twój link znajduje się poniżej do zaproszenia innych użytkowników.</h4>
                <h4 role="partner-title">Twoje statystyki</h4>
                <h4 role="partner-desc" style="margin: 25px 0 35px 0 !important;">Link poleceń: <span class="partner-link">vbdrop.com/r/1</span></h4>
                <h4 role="partner-desc">Liczba zaproszonych ludzi: <span class="partner-link">1</span></h4>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        name: "account",
        mounted() {
            document.getElementById("open").click();
        },
        methods: {
            openTab(evt, tabName) {
                let i, tabcontent, tablinks;

                tabcontent = document.getElementsByClassName("main-profile-content");

                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tab");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(tabName).style.display = "block";

                evt.currentTarget.className += " active";
            }
        }
    }
</script>

<style scoped>

</style>