<template>
    <main class="main-support">
        <div class="main-support-header">
            <h4 class="main-support-header-left">#WSFT3CD48L98 - test</h4>
            <h4 class="main-support-header-right">Stworzony: 2 tygodnie temu</h4>
        </div>
        <div class="main-support-content-open">
            <label for="Wiadomość">Wiadomość</label>
            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa.</h6>
            <label for="Kategoria">Kategoria</label>
            <h6>Błąd strony</h6>
            <label for="Status">Status</label>
            <span class="badge badge-danger">zamknięty</span>
            <hr />
            <div class="main-support-content-open-response">
                <h5 class="support-user">Michał Szlagor</h5>
                <h5 class="support-date">2018-10-08, 12:55</h5>
                <h5 class="support-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa.</h5>
            </div>
            <div class="main-support-content-open-response">
                <h5 class="support-user">Michał Szlagor</h5>
                <h5 class="support-date">2018-10-08, 12:55</h5>
                <h5 class="support-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa.</h5>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <a class="support-btn" href="#" title="Wyślij wiadomość">Wyślij</a>
        </div>
    </main>
</template>

<script>
    export default {
        name: "supportopen"
    }
</script>

<style scoped>

</style>