<template>
    <main class="main-support">
        <div class="main-support-header">
            <h4>wszystkie tickety</h4>
            <router-link class="main-support-header-btn"  title="Napisz do supportu" :to="{ name: 'supportopen' }">
                +
            </router-link>
        </div>
        <div class="main-support-content">
            <table id="main-support-content-tbl" class="table">
                <thead>
                <tr>
                    <th scope="col">Kategoria</th>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ostatnia aktualizacja</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Błąd strony</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th>Błąd strony</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th>Błąd strony</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</template>

<script>
    export default {
        name: "support"
    }
</script>

<style scoped>

</style>